
    <!--vefica se tem messagens tipo flash para mostrar-->
    <!-- outra forma de passar mensagem ao template-->
<!-- habilitando e capturando a categoria-->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages%}     
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<!--usamos interpolacao no tipo de alert, pois ele vem do app.py  e passa por aqui-->